.container {
    align-content: center;
    text-align: center;
}

.container h1,
.container h2,
.container h3 {
    font-weight: bolder;
}

.header {
    text-align: center;
    margin: 20%;
    padding: 20%;
}


.item {
    margin-bottom: 50px;
}
